<div class="jumbotron">
<div class="panel-heading">
<h1>Games#fail,</h1>
</div>
<p>This is when you give up OR you use up all your guesses</p>
</p>
Too bad!
<h1>Fail! </h1>
<p>Too bad! you used up all your guesses</p>


You didn't get the answer this time but it's cool.  Just know that the artist was <%= chosen_song.artist.name %> and that was the song <%= chosen_song.title %>.  <%= chosen_song.artist.description %> 
