<h1>Games#fail,</h1>
<p>This is when you give up OR you use up all your guesses</p>

Too bad!

You didn't get the answer this time but it's cool.  Just know that the artist was <%= @chosen_song.artist.name %> and that was the song <%= @chosen)song.title %>.  <%= @chosen_song.artist.description %> 
