<div class="jumbotron center">
  <h1>Fail!</h1>
</div>
<div class="panel-heading">
  <h1>You didn't get the answer this time but it's cool. Just know that the artist was <%= chosen_song.artist.name %> and the song was "<%= chosen_song.title %>".</h1>
  <h1><%= chosen_song.artist.description %></h1>
</div> 

   

