<h1>Games#final</h1>
<p>These are all the lyrics of the song, your last chance to guess the artist</p>


 <div>
	<% chosen_song.lines.each do |i| %>
	 <br><strong id="final"><%=i.lyric %></strong> 
	<% end %> 
</div>

<p>
	Testing...
	<br>
	current artist= <%= chosen_song.artist.name %> 
	<br>
	current song= <%= chosen_song.title%> 
<p>

<p>
	what's your guess?