<div class="jumbotron">
<h1>Awesome</h1>
</div>
<div class="panel-heading">
<h1>Awesome!  You were right, the artist was <%= chosen_song.artist.name %> and that was the song <%= chosen_song.title %>.  <%= chosen_song.artist.description %><h1> 
</div>