<div class="jumbotron center">
  <h1>Awesome!</h1>
</div>
<div class="panel-heading">
  <h1>You were right, the artist was <%= chosen_song.artist.name %> and that was the song "<%= chosen_song.title %>".</h1>
  <h1><%= chosen_song.artist.description %><h1> 
</div>