<h1>Games#success</h1>
<p>This is when someone guesses the artist correctly</p>

Awesome!  You were right, the artist was <%= chosen_song.artist.name %> and that was the song <%= chosen_song.title %>.  <%= chosen_song.artist.description %> 
