/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
strong#new{font-size: 2em; background-color: #ff3232}
strong#try2{font-size: 2em; background-color: #ff3232}
strong#final{font-size: 2em; background-color: #ff3232}
h1.welcome {font-family: helvetica; font-size: 2em; background-color: #fff}
/*html { 
  background: url(http://c1.staticflickr.com/9/8662/15987213660_597a2250a6_c.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/